# GEMINI_API_KEY: Required for Gemini AI API calls.
NEXT_PUBLIC_GEMINI_API_KEY=""

# APP_URL: The URL where the app is hosted.
APP_URL=""

# Nodemailer Configuration
# EMAIL_USER: The email address used to send contact form messages.
EMAIL_USER=""
# EMAIL_PASS: The app password for the email account.
EMAIL_PASS=""
